{:deps
 {clj-time {:mvn/version "0.14.4"}
  stencil {:mvn/version "0.5.0"}
  com.amazonaws/aws-java-sdk-athena {:mvn/version "1.11.762"}
  com.google.guava/guava {:mvn/version "22.0"}
  omnyway-labs/saw
  {:git/url "https://github.com/omnyway-labs/saw.git"
   :sha "9010d3841b5a2d7cff670661efc74b7f26492f02"
   :time "2020-04-12T15:38:54.000+0000"
   :tag "0.2.10"}
  omnyway-labs/sqly
  {:git/url "https://github.com/omnyway-labs/sqly.git"
   :sha "f74eb0ea22ec3e0b8d3ae799efcfddb83f40b3e4"
   :tag "0.1.23"
   :time "2019-05-07T15:09:46.000+0000"}
  org.clojure/clojure {:mvn/version "1.10.1"}
  org.clojure/core.match {:mvn/version "1.0.0"}}}
