{:deps
 {clj-time {:mvn/version "0.14.4"},
  stencil {:mvn/version "0.5.0"},
  com.amazonaws/aws-java-sdk-athena {:mvn/version "1.11.428"},
  com.google.guava/guava {:mvn/version "22.0"},
  omnyway-labs/saw
  {:git/url "https://github.com/omnyway-labs/saw.git",
   :sha "6f8c1f23107b3f604074e1fc1456e229ead92522",
   :time "2019-03-05T18:28:51.000+0000",
   :tag "0.1.17"},
  omnyway-labs/sqly
  {:git/url "https://github.com/omnyway-labs/sqly.git",
   :sha "fc38fba9f4edce29254d79e22ab29716d2112814",
   :tag "0.1.21",
   :time "2019-02-26T19:04:58.000+0000"},
  org.clojure/clojure {:mvn/version "1.9.0"},
  org.clojure/core.match {:mvn/version "0.3.0-alpha5"}}}
